* { 
    margin:0;
    padding:0;
    box-sizing:border-box; 
    font-family: inherit;
}

body {
    background-color: rgb(240, 242, 245);
}

a {
    text-decoration: none
}

.header{
    display: inline-table;
    width:100%;
    height: 40px;
    padding: 20px;
}


#imglogo {
    display: block;
    margin-left: 50px;
    line-height: 56px;
    float: left;
}

#logo {
    margin-left: 10px;
    line-height: 56px;
    float: left;
}


.logo{
    float: left;


}

.price_gas {
    display: inline-table;
    width: 100%;
    margin: 0 auto;
   
    background-color: white;
}

.root {
    width: 800px;
    background-color: red;
    margin: auto;

}

ul.root > li {
    list-style: none;
    float: left;
    position: relative;
    
}

.price1 {
    width: 33%;
    float: left;
    padding: 20px;
}

.price {
    width: 80%;
    padding: 10px;
    background-color: #f1f1f1;
    border: 1px solid blue;
    border-radius: 5px;
    margin: auto;
}

.moth_average {
    margin: 30px;
    background-color: rgb(75, 190, 243);
    padding: 20px;
    color: white;

}


.chart {
    background-color: white;
    width: 95%;
    margin: auto;

}

.title_his{
    padding-left: 20px;
    width: 100%;
    height: 40px;
    background-color: wheat;
    line-height: 40px;
}

.line_chart{
    width:90%;
    margin:auto
}

.text{
    font-size:x-large;
    font-weight: bold;
}



@media only screen and (max-width: 800px) {
    #imglogo {
        margin-left: 0px;
    }
    .chart {
        width: 100%;
        
    }

    .line_chart{
        width:100%;
        margin:auto
    }

    .root {
        width: 100%;
    }
    .price1 {
        padding: 0px;
        
    }
    .price {
        margin: auto;
    }

    .text{
        font-size: larger;
        font-weight: bold;
    }

}