* { 
    margin:0;
    padding:0;
    box-sizing:border-box; 
    font-family: inherit;
    color: #4a4f55;
}

body {
    background-color: rgb(240, 242, 245);;
}

a {
    text-decoration: none;
}

a:hover {
    color:  rgb(43, 43, 126);
}

a:visited {
    color: rgb(43, 43, 126);

}

a:active {
    color: rgb(43, 43, 126);
}


.header {
    display: inline-table;
    width:100%;
    height: 40px;
    padding: 20px 20px 0px 20px;
}


#imglogo {
    display: block;
    margin-left: 50px;
    line-height: 56px;
    float: left;
}

#logo {
    margin-left: 10px;
    line-height: 56px;
    float: left;
}


.logo{
    float: left;


}

.contact {
    float: right;
    height: 56px;
    
}

.contact > ul >li {
    list-style: none;
    float: left;
    position: relative;
    width: 50px;
    
}


#tele {
    width: 43px;
    height: 43px;
}

#tele:hover {
    width: 50px;
    height: 50px;
    transition: ease-in 0.30s;
    -moz-tranimation: ease-in 0.30s;
    -webkit-transition: ease-in 0.30s;
}



#discord {
    margin-top: 2px;
    width: 40px;
    height: 40px;
}

#discord:hover {
    width: 47px;
    height: 47px;
    transition: ease-in 0.30s;
    -moz-tranimation: ease-in 0.30s;
    -webkit-transition: ease-in 0.30s;
}


.price_gas {
    display: inline-table;
    width: 100%;
    margin: 0 auto;
    background-color: white;
    color: rgb(31, 28, 28);
}

.root {
    width: 800px;
    background-color: red;
    margin: auto;

}

ul.root > li {
    list-style: none;
    float: left;
    position: relative;
    
}

.price1 {
    width: 33%;
    float: left;
    padding: 20px;
}

.price {
    width: 80%;
    padding: 10px;
    border: 1px solid rgba(43, 43, 158, 0.733);
    border-radius: 15px;
    margin: auto;
}

.moth_average {
    margin: 30px;
    background-color: rgb(75, 190, 243);;
    padding: 20px;
    color: white;

}


.chart {
    background-color: white;
    width: 90%;
    margin: auto;
    
    border-radius: 20px;
}

.title_his{
    padding-left: 20px;
    width: 100%;
    height: 40px;
    background-color: wheat;
    line-height: 40px;
}

#ava {
    color: rgb(76, 76, 238);
    font-size: large;
}

#ava:hover {

    color: rgb(43, 43, 226);
    font-weight: bolder;

   
}

.line_chart{
    width:85%;
    margin:auto
}

.text{
    font-size:x-large;
    font-weight: bold;
}



@media only screen and (max-width: 800px) {
    #imglogo {
        margin-left: 0px;
    }
    .chart {
        width: 100%;
        
    }

    .line_chart{
        width:100%;
        margin:auto
    }

    .root {
        width: 100%;
    }
    .price1 {
        padding: 0px;
        
    }
    .price {
        margin: auto;
    }

    .text{
        font-size: larger;
        font-weight: bold;
    }

}